
section{

    width: 90vw;
    height: 80vm;
    border: 5px solid black;
    background-color: beige;
    display: flex;

    flex-direction: row;
}

section > div{
    width: 350px;
    height: 200 px;

    border: 2px solid white;
    background-color: steelblue;
    color: aqua;
    font-size: 36px;

    flex-grow: 1;
}

div:nth-last-of-type(3){
    flex-basis: 800px;
}